:root 
{
    --c-White: white;
    --c-Grey: hsla(243, 28%, 13%, 25%);
    --c-DarkNavy: #242742;
    --c-PaleNavy: #36384D;
    --c-Verm:#FF6155;
    --g-1: linear-gradient(180deg, #FF6A3A, #FF527B);

    --f-1: "Roboto", sans-serif;
    --f-2: "Roboto Flex", sans-serif;
}

body {
    margin: 0;
    background-color: var(--c-PaleNavy);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cmp * { 
    box-sizing: border-box;
}

#cmp * :first-child {
    margin-top: 0;
}

#cmp * :last-child {
    margin-bottom: 0;
}


#cmp {
    font-family: var(--f-1);
    color: var(--c-DarkNavy);
}

#cmp p 
{
    line-height: 1.5;
}

#cmp__title 
{
    font-size: 2.5rem;
}


#cmp__input-label, #cmp__input-error {
    font-size: .75rem;
}

#cmp__input-error {
    color: var(--c-Verm);
}


#cmp__email
 {
    font-family: var(--f-2);
    font-size: inherit;
    color: inherit;
 }

 #cmp__btn {
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    color: var(--c-White);
 }