:root 
{
    --c-White: white;
    --c-Grey: hsla(243, 28%, 13%, 25%);
    --c-DarkNavy: #242742;
    --c-PaleNavy: #36384D;
    --c-Verm:#FF6155;
    --c-VermLight: hsla(4, 100%, 67%, 15%);
    --g-1: linear-gradient(180deg, #FF6A3A, #FF527B);

    --f-1: "Roboto", sans-serif;
    --f-2: "Roboto Flex", sans-serif;
}

body {
    margin: 0;
    background-color: var(--c-PaleNavy);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cmp * { 
    box-sizing: border-box;
}

#cmp * :first-child {
    margin-top: 0;
}

#cmp * :last-child {
    margin-bottom: 0;
}


#cmp {
    font-family: var(--f-1);
    color: var(--c-DarkNavy);
}

#cmp p 
{
    line-height: 1.5;
}

#cmp__title 
{
    font-size: 2.5rem;
}


#cmp__input-label, #cmp__input-error {
    font-size: .75rem;
    font-weight: bold;
}

#cmp__input-error {
    color: var(--c-Verm);
}


#cmp__email
 {
    font-family: var(--f-2);
    font-size: inherit;
    color: inherit;
 }

 #cmp__btn {
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    color: var(--c-White);
 }



 /* Layout */
#cmp {
    background-color: var(--c-White);
}
 #cmp__img-mobile {
    display: block;
    width: 100%;
 }
 #cmp__img-desktop 
{
    display: none;
}

#cmp__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin-bottom:2.5em;
    gap: .625em;
}

.cmp__list-item {
    position: relative;
    padding-left: calc(1em + 21px);
}

.cmp__list-item::before {
    content: '';
    width: 21px;
    height: 21px;
    position: absolute;
    left:0px;
    top:0px;
    background-image: url(./assets/images/icon-list.svg);
}

#cmp__form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#cmp__input-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

#cmp__input-error {
    margin-top: 0;
    opacity: 0%;
    transition: opacity 300ms;
}

#cmp__input-container.invalid #cmp__input-error {
    opacity: 100%;
}
#cmp__input-container.invalid #cmp__email {
    border-color: var(--c-Verm);
    background-color: var(--c-VermLight);
    color: var(--c-Verm);
}


#cmp__email, #cmp__btn 
{
    border-radius: 8px;
    width: 100%;
}

#cmp__email {
    padding: 1em 1.5em;
    border: solid 1px var(--c-Grey);
}


#cmp__btn 
{
    background-color: var(--c-DarkNavy);
    padding: 1.125em 1em;
    border:none;
    cursor: pointer;
}

#cmp__btn:hover {
    background: var(--g-1);
}

/* Padding */
#cmp__content {
    padding: 2.5em 6.4%;
}



@media(min-width:768px)
{
    body {
        justify-content: center;
    }
    #cmp {
        display: flex;
        align-items: stretch;
        border-radius: 36px;
    }

    #cmp__img-desktop {
        display: block;
    }

    #cmp__img-mobile {
        display: none;
    }


    #cmp__content {
        padding: 4.6em 4em;
        max-width: 504px;
    }
    
}